// Variables //

// Centering //
$center-items: center;

// Width //
$width-100: 100%;

// Color Palette //
$background: #d1e277;
$text-color: complement(#d1e277);
$tittle-text-color: darken($text-color, 40%);
