@import "_variables.scss";
@import "_color-pallete.scss";
@import "_mixins.scss";
@import "_extends.scss";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background;
}

.container {
  width: $width-100;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #A000A0;
}

.logo {
    height: 30px;
    width: $width-100;
    text-align: $center-items;

    .tittle {
      color: $tittle-text-color;
      text-align: $center-items;
      text-transform: uppercase;
    }
}

.nav {

    ul {
      margin: 0;
      padding: 0;

    li {
    height: 20px;
    width: 30%;
    float: left;
    margin: 1% 1%;
    display: inline;
    list-style: none;
    text-align: $center-items;
    border: 1px solid black;
    color: $text-color;
    }
  }
}

.container-item {
    .photo {
      width: 100%;
      height: 100%;
      margin: 70px 0 0 0;

    }
    h3 {
      margin-top: 15px;
      border: 1px solid green;
    }
    p {
      text-align: justify;
      padding: 5px;
      border: 1px solid purple;
    }
    img {
      width: 100%;
      height: 100%;
    }
}
