@import "variables.scss";
@import "mixins.scss";
@import "extends.scss";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background;
}

.container {
  width: $width-100;
  margin: 0 auto;
  padding: 10px;

  .header {
    height: 30px;
    width: $width-100;
    text-align: $center-items;

  .tittle {
      color: $tittle-text-color;
      text-align: $center-items;
      text-transform: uppercase;
    }
  }
}

.nav {

    ul {
      margin: 0;
      padding: 0;

    li {
    height: 20px;
    width: 30%;
    float: left;
    margin: 1% 1%;
    display: inline;
    list-style: none;
    text-align: $center-items;
    color: $text-color;
    }
  }
}

.container-item {
    .photo {
      @extend %photos;
    }

    h3 {
      @extend %h3s;
      @include article-titles(#246810, 5px, center);
    }

    p {
      @include paragraphs;
    }

    img {
      @include images-size;
    }
}

.container-item {
  @media (min-width: 600px){
    width: 50%;
    float: left;
  }

  @media (min-width: 1200px) {
    float: left;
    width: 25%;
    height: 25%;
  }
}

// h3 {
//   @include border(#246810);
// }
